{% extends 'bases/base-templates.html' %}
{% load static %}

<!-- Header-->
{% block first_row %}
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">وظیفه ما ارائه و ساخت وبسایت های متنوع و سریع و ارزان برای شما
                        هست.
                    </h1>
                    <p class="lead fw-normal text-muted mb-4">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز.
                    </p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">بیشتر درباره ما بدونید</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock first_row %}

<!-- About section one-->
{% block second_row %}
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'img/733-600x400.jpg' %}" alt="..." />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">لورم ایپسوم </h2>
                <p class="lead fw-normal text-muted mb-0">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock second_row %}

<!-- About section two-->
{% block third_row %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                    src="{% static 'img/7-600x400.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">لورم ایپسوم متن </h2>
                <p class="lead fw-normal text-muted mb-0">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock third_row %}

<!-- Team members section-->
{% block fourth_row %}
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">تیم ما</h2>
            <p class="lead fw-normal text-muted mb-5">تیمی حرفه‌ای برای بالا بردن کیفیت کسب و کار شما.</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/p1.jpg' %}" alt="اشکان هژبری" />
                    <h5 class="fw-bolder">اشکان هژبری</h5>
                    <div class="fst-italic text-muted">برنامه نویس وب</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/p2.jpg' %}" alt="خانم مهندس" />
                    <h5 class="fw-bolder">خانم مهندس</h5>
                    <div class="fst-italic text-muted">سئو</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/p3.jpg' %}" alt="حض بیگ" />
                    <h5 class="fw-bolder">حض بیگ</h5>
                    <div class="fst-italic text-muted">طراحی وب</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/p4.jpg' %}" alt="خانم مدیرعامل" />
                    <h5 class="fw-bolder">خانم مدیرعامل</h5>
                    <div class="fst-italic text-muted">مدیر پروژه</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock fourth_row %}