{% extends 'bases/base-templates.html' %}
{% load static %}

        <!-- Page Content-->
        {% block first_row %}
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">{{portfolio.title}}</h1>
                            <p class="lead fw-normal text-muted mb-0">{{portfolio.description1}}</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="{{portfolio.image1.url}}" alt="{{portfolio.image1.name}}" />
                    </div>
                    <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="{{portfolio.image2.url}}" alt="{{portfolio.image2.name}}" />
                    </div>
                    <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="{{portfolio.image3.url}}" alt="{{portfolio.image3.name}}" />
                    </div>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <p class="lead fw-normal text-muted">{{portfolio.description2}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock first_row %}

