{% extends 'bases/base-templates.html' %}
{% load static %}

        <!-- Page Content-->
        {% block first_row %}
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">سوالات متوال</h1>
                    <p class="lead fw-normal text-muted mb-0">چطور میتونیم بهتون کمک کنیم؟</p>
                </div>
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <!-- FAQ Accordion 1-->
                        {% for item in subjects %}
                            <h2 class="fw-bolder mb-3">{{item.title}}</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                {% for que in item.fa_question.all %}
                                    <div class="accordion-item">
                                        <h3 class="accordion-header" id="heading{{que.id}}"><button class="accordion-button"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{que.id}}"
                                                aria-expanded="true" aria-controls="collapse{{que.id}}">{{que.question}}</button></h3>
                                        <div class="accordion-collapse collapse" id="collapse{{que.id}}"
                                            aria-labelledby="heading{{que.id}}" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">{{que.awnser}}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-xl-4">
                        <div class="card border-0 bg-light mt-xl-5">
                            <div class="card-body p-4 py-lg-5">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="text-center">
                                        <div class="h6 fw-bolder">سولات بیشتری دارین؟</div>
                                        <p class="text-muted mb-4">
                                            با ما در تماس باشید در:
                                            <br />
                                            <a href="#!">support@domain.com</a>
                                        </p>
                                        <div class="h6 fw-bolder">و مارا دنبال کنید</div>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock first_row %}
