{% extends 'bases/base-templates.html' %}
{% load static %}

        <!-- Page content-->
        {% block first_row %}
                <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder">با ما درتماس باشید</h1>
                        <p class="lead fw-normal text-muted mb-0">ما عاشق نظرهای شما هستیم.</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text"
                                        placeholder="نام خود را وارد کنید..." data-sb-validations="required" />
                                    <label for="name">نام کامل</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">نام خود را وارد کنید
                                    </div>
                                </div>
                                <!-- Email address input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" type="email" placeholder="name@example.com"
                                        data-sb-validations="required,email" style="font-family: system-ui;"/>
                                    <label for="email">آدرس ایمیل</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">ایمیل خود را وارد
                                        کنید</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">ایمیل نا معتبر هست.
                                    </div>
                                </div>
                                <!-- Phone number input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" type="tel" placeholder="09120001122"
                                        data-sb-validations="required" style="font-family: system-ui;"/>
                                    <label for="phone">شماره تلفن</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">شماره تلفن خود را
                                        وارد کنید</div>
                                </div>
                                <!-- Message input-->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" type="text"
                                        placeholder="Enter your message here..." style="height: 10rem"
                                        data-sb-validations="required"></textarea>
                                    <label for="message">پیام شما</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">پیام خود را وارد
                                        کنید</div>
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder text-success">فرم با موفقیت ارسال شد.</div>

                                        <!-- To activate this form, sign up at
                                        <br />
                                        <a
                                            href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms
                                        </a> -->
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">!!! فرم با موفقیت ارسال نشد !!!</div>
                                </div>
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton"
                                        type="submit">ارسال</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Contact cards-->
                <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-chat-dots"></i></div>
                        <div class="h5 mb-2">چت با ما</div>
                        <p class="text-muted mb-0">نظرات، پیشنهادان و سوال های خودتونو مطرح کنید.</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-people"></i></div>
                        <div class="h5">سوال از ما</div>
                        <p class="text-muted mb-0">سوالات خود را درمورد خدمات ما مطرح کنید. </p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-question-circle"></i></div>
                        <div class="h5">بخش پشتیبانی</div>
                        <p class="text-muted mb-0">بخش سوالات متداول و مقالات برای برای پیدا کردن پاسختون نگاه کنید.</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-telephone"></i></div>
                        <div class="h5">تماس با ما</div>
                        <p class="text-muted mb-0">برای ثبت سفارش تلفنی و هرگونه تماس کاری با شماره <span style="font-family: system-ui;">(2233 111 0912)</span> تماس بگیرید.</p>
                    </div>
                </div>
            </div>
        </section>
        {% endblock first_row %}
