{% extends 'bases/base-templates.html' %}
{% load static %}

        <!-- Page content-->
        {% block first_row %}
                <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder">با ما درتماس باشید</h1>
                        <p class="lead fw-normal text-muted mb-0">ما عاشق نظرهای شما هستیم.</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form id="contactForm" action="" method="post">
                                {% csrf_token %}
                                <!-- Name input-->
                                <div class="form-floating mb-3">
                                    {{form.full_name}}
                                    <label for="name">نام کامل</label>
                                </div>
                                <!-- Email address input-->
                                <div class="form-floating mb-3">
                                    {{form.email}}
                                    <label for="email">آدرس ایمیل</label>
                                </div>
                                <!-- Phone number input-->
                                <div class="form-floating mb-3">
                                    {{form.phone_number}}
                                    <label for="phone">شماره تلفن</label>
                                </div>
                                <!-- Message input-->
                                <div class="form-floating mb-3">
                                    {{form.message}}
                                    <label for="message">پیام شما</label>
                                </div>
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                                        type="submit">ارسال</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Contact cards-->
                <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-chat-dots"></i></div>
                        <div class="h5 mb-2">چت با ما</div>
                        <p class="text-muted mb-0">نظرات، پیشنهادان و سوال های خودتونو مطرح کنید.</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-people"></i></div>
                        <div class="h5">سوال از ما</div>
                        <p class="text-muted mb-0">سوالات خود را درمورد خدمات ما مطرح کنید. </p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-question-circle"></i></div>
                        <div class="h5">بخش پشتیبانی</div>
                        <p class="text-muted mb-0">بخش سوالات متداول و مقالات برای برای پیدا کردن پاسختون نگاه کنید.</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-telephone"></i></div>
                        <div class="h5">تماس با ما</div>
                        <p class="text-muted mb-0">برای ثبت سفارش تلفنی و هرگونه تماس کاری با شماره <span style="font-family: system-ui;">(2233 111 0912)</span> تماس بگیرید.</p>
                    </div>
                </div>
            </div>
        </section>
        {% endblock first_row %}
